.home-body {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://i.imgur.com/EptFUsO.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: absolute; 
    top: 0;
    width: 100%;
  }
  
  .content {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  
  .last-name {
    color: #f90040;
  }
  
  h2 {
    font-size: 2rem; 
    margin-bottom: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem; 
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .social-icon {
    height: 40px;
    margin: 0 1rem;
    width: 40px;
    border-radius: 19px;
  }
  
  .bio {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;  
    }
  
    h2 {
      font-size: 1.5rem;
    }
    
    h3 {
      font-size: 1.25rem;
    }
  
    .bio {
      font-size: 1rem;
      padding: 1.5rem;
    }
  }