.projects {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: left;
  }
  
  .projects h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .projects ul {
    list-style: none;
    padding: 0;
  }
  
  .projects li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: transform 0.2s;
  }
  
  .projects li:hover {
    transform: scale(1.02);
  }
  
  .projects a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .trackervideo {
    align-items: center;
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
  
  iframe {
    margin: auto;
    max-width: 860px;
    width: 100%;
  }