/* * {
    border: 1px solid red; /* This will help identify the element causing the issue */
} */

.projects {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
}
  
.projects h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
  
.projects ul {
    list-style: none;
    padding: 0;
}
  
.projects ul li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
}
  
.projects ul li:hover {
    transform: scale(1.02);
}
  
.projects ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.trackervideo {
    display: flex;
    flex-direction: column; /* Stack iframes in a column */
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Add some space between the iframes */
    /* Remove the height: 100vh; to allow the iframes to stack */
    background: #191919;
}

/* Optional: You can also add a max-width to the iframes to ensure they don't stretch too wide on larger screens */
iframe {
    max-width: 860px; /* This can be any width you prefer */
    width: 100%; /* This makes the iframe responsive, taking up 100% of the .trackervideo container width */
    margin: auto; /* This centers the iframe horizontally within the .trackervideo container */
}
